body{
    background-image: url(./backgrounds/Dark\ Souls\ -\ Fall\ Down\ Seven\ Times.jpg);
}

.image{
    width: 500px;
    height: 500px;
    border-radius: 60%;
    position: absolute;
    top: 8%;
    left: 3%;
    animation: rotate 4.5s linear infinite;
}

.github{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5%;
    left: 36%;
    filter: invert(100%);
    border-radius: 50%;
    animation: rotate 10s linear infinite;
}
@keyframes color {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.title{
    position: absolute;
    top: 5%;
    left: 52%;
    font-size: 4.7em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10%, -30%);
}

.subtitle{
    position: absolute;
    top: 20%;
    left: 52%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10%, -30%);

}

.description{
    position: absolute;
    top: 30%;
    left: 52%;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10%, -30%);
}

.description2{
    position: absolute;
    top: 43%;
    left: 52%;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10%, -30%);
}

.title2{
    position: absolute;
    top: 60%;
    left: 52%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10%, -30%);
}

strong{
    color: rgb(72, 231, 85);
}

.destaque{
    color: rgb(0, 118, 253);
}

.front{
    color: rgb(255, 208, 0);
}

.git{
    color: red
}

.email{
    font-size: 50px;
    color: rgb(235, 151, 82);
    background: linear-gradient(45deg, red, blue, green, yellow);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: infinite 4.5s linear color;
    position: absolute;
    top: 74%;
    left: 59%;
}
@keyframes infinite {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.formshere{
    width: 13%;
    height: 5%;
    position: absolute;
    top: 91%;
    left: 48.7%;
    transform: translate(-50%, -50%);
}

.formshere2{
    width: 12%;
    height: 5%;
    position: absolute;
    top: 91%;
    left: 61.9%;
    transform: translate(-50%, -50%);
}

.formshere3{
    width: 12%;
    height: 5%;
    position: absolute;
    top: 91%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.formshere4{
    width: 13%;
    height: 5%;
    position: absolute;
    top: 91%;
    left: 75%;
    transform: translate(-50%, -50%);
}